#cabecalho{
    height: 50px;
    background-color: #1b0067;
    position: absolute;  
    z-index: 11;
    transition: all ease 0.5s;
    border: 1px solid #7e0eff;
    display: none;
    align-items: center;
    justify-content:space-between;
   
}

#menu{
    width: 45px;
    height: 45px;
    background-color:#1b006735;
    float: left;
    position: sticky;
    top:0px;
    border-color: #7e0eff;
    border-style: double;  
    font-size: 38px;
    text-align: center;
    margin-right: 5px;
}



#coluna{
    width: 0px;
    height: 0px;
    background-color:#1b006735;
    transition: all ease 0.5s;
    z-index: 14;
    position: absolute;
    backdrop-filter: blur(2px);
    margin-top: 50px;
  

    
    
}

#conteudo{
    width: 100%;
    height: 0px;
    background-color:#11003e;  
    transition: all ease 1s;
  
    border: 1px solid #7e0eff;
    z-index: 9;
    position: absolute;
    overflow-y:hidden;
    margin-top: 50px;
    overflow-x: hidden;
  
}
::-webkit-scrollbar{
    background-color: #1b0067;
    width: 5px;

}
::-webkit-scrollbar-thumb{
    background-color: #7e0eff;
}

#rodape{
    height: 20px;
    font-size: 12px;
    background-color: #1b0067;
    position: absolute;  
    z-index: 16;
    transition: all ease 0.5s;
    border: 1px solid #7e0eff;
    bottom: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoRod{
    width: 17px;
    height: 17px;
    padding-right: 5px;
}

#imgPerfil{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid #7e0eff;
    margin-left: 10px;
    display: none;
}



.optionsMenu{
    height: 30px;
    width: 100%;
    border: 1px solid #7e0eff;
    border-right: none;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.optionsMenuFocos{
    height: 60px;
    width: 100%;
    border: 1px solid #7e0eff;
    border-right: none;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


#abas{
    height: 50px;
    display: flex;
    justify-content: center;
    z-index: 13;
    margin: auto;
    bottom: -1px;    
}

.optionsAbas{
    height: 30px;
    width: 25%;
    border: 1px solid #7e0eff;
    margin: auto;
    margin-bottom: 0px;
    border-bottom: none;
    background-color: #170055 ;
    margin-left: 2px;
    margin-right: 2px;
    transition: all ease 0.5s;
}

.optionsAbasFoco{
    background-color: #11003e;
    height: 40px;
    width: 50%;
    border: 1px solid #7e0eff;
    margin: auto;
    margin-bottom: -1px;
    border-bottom: none;
    margin-left: 2px;
    margin-right: 2px;
    transition: all ease 0.5s;
}

.buttonGoogle{ 
    position: relative;
    margin: auto;
    height: 31px;
    width: 31px;
    border-color: #7e0eff;
    border-style: double;
    bottom: 0px;
    top: 10px;
    left: 0px;  
    
}

#fundo{

    height: 0px;
    transition: all ease 0.5s;
    position: absolute; /* ABSOLUTE PARA DIV FICAR CENTRALIZADA */
    margin: auto;  
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: #1b006735;
    border: 1px solid #7e0eff;
    
    /* CENTRALIZA CONTEÚDO */
    display: flex;
    align-items: center ;
}

#cardProfile{
    
    border: 1px solid #7e0eff;
    position: absolute;
    margin: auto;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    height: 0px;
    background-image:url(imagens/photo.jpg);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: 52%;
    transition: all ease 2.5s;
}