body{
    margin: auto;
    padding: auto;
    background-color: #07001a ;      
}

#Matrix{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(255, 0, 0, 0);
    z-index: 0;   
}

#chuva0{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(255, 0, 0, 0);
    z-index: 1; 
}

#chuva1{
    position: absolute;
    z-index: 2;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 255, 0);  
}

#chuva2{
    position: absolute;
    z-index: 4;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 255, 0); 
}

#chuva3{
    position: absolute;
    z-index: 3;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 255, 0); 
}

.case{
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-top: -4px;    
}

#nums{ 
    height: 20px;
    width: 20px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    font-family: 'Special Elite', cursive;  
}

.numOff{
    color: #7e0eff00;
}

.numNeutro{
    color: #b16efd28;
    text-shadow:
    0 0 1px #7e0eff5f,
    0 0 2px #7e0eff5f,
    0 0 3px #7e0eff5f,
    0 0 4px #7e0eff5f,
    0 0 5px #7e0eff5f,
    0 0 6px #7e0eff5f,
    0 0 7px #7e0eff5f,
    0 0 8px #7e0eff5f;
    
}
.numBrilha{
    color: #e8d4ff;
    text-shadow:
    0 0 1px #7e0eff,
    0 0 2px #7e0eff,
    0 0 3px #7e0eff,
    0 0 4px #7e0eff,
    0 0 5px #7e0eff,
    0 0 6px #7e0eff,
    0 0 7px #7e0eff,
    0 0 8px #7e0eff;
}

#Home{
    position: absolute;
    z-index: 6;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #07001a; 
    border: none;
    display: none;
}

#start0{
    z-index: 11;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #b50057;
    color: #ffffff;
    top: 0;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom: #ffffff;
    border-radius: 10px;
    border-style: double;
    border: 10px;
    font-size: 30px;
    font-family: 'Special Elite', cursive;
    text-shadow: 
    0 0 1px #ff007b79,
    0 0 2px #ff007b79,
    0 0 3px #ff007b79,
    0 0 4px #ff007b79,
    0 0 5px #ff007b79,
    0 0 6px #ff007b79,
    0 0 7px #ff007b79,
    0 0 8px #ff007b79;;
    box-shadow: 
    0 0 1px #ffffff51,
    0 0 2px #ffffff51,
    0 0 3px #ffffff51,
    0 0 4px #ffffff51,
    0 0 5px #ffffff51,
    0 0 6px #ffffff51,
    0 0 7px #ffffff51,
    0 0 8px #ffffff51;
}

#nome{
    z-index: 10;
    position: absolute;
    width: 250px;
    height: 30px;
    background-color: #120044;
    color: #ffffff4e;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom: #ffffff;
    border-radius: 10px;
    border-style: double;
    border: 10px;
    font-size: 25px;
    text-align: center;
    font-family: 'Special Elite', cursive;
    text-shadow:                                                                                                    
    0 0 1px #7e0eff5f,
    0 0 2px #7e0eff5f,
    0 0 3px #7e0eff5f,
    0 0 4px #7e0eff5f,
    0 0 5px #7e0eff5f,
    0 0 6px #7e0eff5f,
    0 0 7px #7e0eff5f,
    0 0 8px #7e0eff5f;;
    box-shadow: 
    0 0 1px #7e0eff5f,
    0 0 2px #7e0eff5f,
    0 0 3px #7e0eff5f,
    0 0 4px #7e0eff5f,
    0 0 5px #7e0eff5f,
    0 0 6px #7e0eff5f,
    0 0 7px #7e0eff5f,
    0 0 8px #7e0eff5f;
    outline: 0;
}



#p0{
    color: #7e0eff;
    z-index: 9;
    position: absolute;
    top: 0;
    bottom: 90px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Special Elite', cursive;
    border: none;
    border-style: none;
    outline: 0;
    background-color: #07001a ;    
    font-size: 13px;
    text-align: center;
    text-decoration:underline;
}

#Escolha{
    position: absolute;
    z-index: 5;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #07001a; 
    border: none;
    display: none;
    
}

#pilulas{
    height: 80px;
    width: 160px;
    background-color: #07001a;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    
}


#pB{
    height: 80px;
    width: 80px; 
}
#pR{
    position: absolute;
    height: 80px;
    width: 80px; 
}
